<!doctype html>
<html  ng-app="switchSim">
<head>
  <meta charset="UTF-8">
  <title>Open Console - Switch Simulator UI </title>
  

  <script src="js/lib/angular.min.js"></script>
  <script src="js/lib/checklist-model.js"></script>

  
</head>
<body>
  <script>
  
  var app = angular.module('switchSim',["checklist-model"]);
   
  
  app.controller('SwitchSimController', function($scope, $http) {
	  var INVENTORY_API = '/inventory';
	  var request = {
			  method: 'get',
			  url: INVENTORY_API,
			  dataType: 'json',
			  contentType: "application/json"
	  }
	  
	  $scope.arrSwitch = new Array;
	  
	  
	  
	  $http(request)
	  	.success(function (jsonData) {
		  $scope.arrSwitch = jsonData;
		  $scope.roles = $scope.arrSwitch;
		  console.log(jsonData);
		  console.log($scope.roles);
	  	})
	  	.error(function () {
	  		
	  	});
	  
	  $scope.user = {
	    roles: []
	  };
	  $scope.checkAll = function() {
	    $scope.user.roles = angular.copy($scope.roles);
	  };
	  $scope.uncheckAll = function() {
	    $scope.user.roles = [];
	  };

	  $scope.getRoles = function() {
	    return $scope.user.roles;
	  };
	  
	  $scope.user.roles = angular.copy($scope.roles);
	  
	  $scope.check = function(value, checked) {
		console.log(value);
	    $scope.output = "port " + value + " is " + (checked? "up" : "down"); 

	   //console.log('Sending request to '+ USER_SERVICE_API);
	    var USER_SERVICE_API = '/switchcontroller/';
        
        $http.put(USER_SERVICE_API, 
					{},
					{params: { port: value, status: checked}})
        .then(
            function (response) {
               
            },
            function (errResponse) {
                console.error('Error while sending request:'+errResponse);
            }
	     );
	   };
	});

</script>
<div ng-controller="SwitchSimController">
	<label ng-repeat="card in roles.cards">
		<label ng-repeat="port in card.ports">

  			<input type="checkbox" checklist-model="getRoles()" checklist-value="role" ng-change="check(port.portID, checked)"> {{
  			port.portID;
  			}}
  		</label>
  		<br/>
	</label>
	<br/><tt>Event log: {{output}}</tt>
</div>
</body>
</html>